.animation__bird {
	bottom: 20%;
	left: 30%;
	transform: translateX(-50%) scale(0.4) rotate(-15deg);
	max-width: 50px;
	width: 50px;
	overflow: hidden;
	display: none;
	z-index: 2;

	@include breakpoint(tabletPortrait) {
		transform: translateX(-50%) scale(0.6) rotate(-15deg);
		bottom: 25%;
	}

	@include breakpoint(desktop) {
		transform: translateX(-50%) scale(0.8) rotate(-15deg);
		bottom: 25%;
	}

	& #bird-group {
		animation: flyBird 0.2s steps(2) infinite;
	}

	& > svg {
		width: 100px; 
		height: 56px;
	}
}

.animation__bird-animate {
	animation: moveBird 1.6s cubic-bezier(0.47, 0, 0.745, 0.715) 1;

	@include breakpoint(tabletPortrait) {
		animation-duration: 1.8s;
	}

	@include breakpoint(desktop) {
		animation-duration: 2.4s;
	}
}

@keyframes flyBird {
	to {
		transform: translate3d(-100px, 0, 0);
	}
}

@keyframes moveBird {
	to {
		transform: translate3d(100vw, -20vh, 0);
	}
}
