.animation__octopus-tentacles, .animation__octopus-head {
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%) scale(0.45);
	max-width: 250px;
	width: 250px;
	display: none;
	overflow: hidden;
	filter: invert(100%);

	@include breakpoint(tabletPortrait) {
		transform: translateX(-50%) scale(0.7);
		bottom: 27%;
	}

	@include breakpoint(desktop) {
		transform: translateX(-50%) scale(1);
		bottom: 35%;
	}

	& .octopus-tentacles-group--play-animation {
		animation: tentacle 0.6s steps(4) infinite;
	}

	& > svg {
		width: 1000px; 
		height: 250px;
	}
}

.animation__octopus-head {
	& .octopus-head-group--play-animation {
		animation: head .4s .5s steps(8) 1;
	}
	
	& > svg {
		width: 2000px; 
		height: 250px;
	}
}

@keyframes tentacle {
	to {
		transform: translate3d(-1000px, 0, 0);
	}
}

@keyframes head {
	to {
		transform: translate3d(-2000px, 0, 0);
	}
}
