.animation__tree {
	animation: tree 1.5s infinite;
}

@keyframes tree{
	0% {
		transform: translate3d(0, 0, 0);
	}
	39% {
		transform: translate3d(0, 0, 0);
	}
	40% {
		transform: translate3d(-4px, 0, 0);
	}
	50% {
		transform: translate3d(4px, 0, 0);
	}
	55% {
		transform: translate3d(-4px, 0, 0);
	}
	60% {
		transform: translate3d(4px, 0, 0);
	}
	61% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
