<!-- Footer -->
<footer class="footer">
    <div class="footer__address--email">
        <p>Email: <a href="mailto:bosse@happykemper.com">bosse@happykemper.com</a><br /></p>
    </div>
    <div class="footer__address--number">
        <p>Tel: <a href="tel:+31639671297">+31 6 396 712 97</a></p>
    </div>
    <div class="footer__social">
        <a href="https://nl.linkedin.com/in/bosse-kemper-04086935" class="btn btn__social" target="_blank" rel="noopener"><i class="fab fa-linkedin-in fa-fw" title="LinkedIn"></i></a>
        <a href="https://www.instagram.com/bosse_kemper" class="btn btn__social" target="_blank" rel="noopener"><i class="fab fa-instagram fa-fw" title="Instagram"></i></a>
    </div>
    {# <div class="footer__copyright">
        <p><small>Copyright &copy; {{ site.title }} 2019</small></p>
    </div> #}
</footer>