<!-- Outdated Browser -->
<div id="outdated">
    <h2>Je gebruikt een verouderde browser</h2>
    <p>De browser moet geupdate worden om alle content goed te laten zien. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/nl">Nu mijn browser updaten </a></p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
</div>