.animation__fire {
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%) scale(0.35);
	max-width: 87px;
	width: 87px;
	z-index: 1;

	@include breakpoint(tabletPortrait) {
		transform: translateX(-50%) scale(0.55);
		bottom: 8%;
	}

	@include breakpoint(desktop) {
		transform: translateX(-50%) scale(0.75);
		bottom: 12%;
	}

	@include breakpoint(atWide) {
		transform: translateX(-50%) scale(1);
	}

	& #fire-group {
		animation: fire 0.8s steps(3) infinite;
	}

	& .fire-group--hidden {
		opacity: 0;
	}

	& .smoke-group--play-animation {
		opacity: 1;
		animation: smoke 1.4s steps(10) 1;
	}

	& > svg {

		width: 870px; 
		height: 168px;
		
	}
}

@keyframes fire {
    to {
        transform: translateX(-261px);
    }
}

@keyframes smoke {
	to {
		transform: translateX(-870px);
	}
}
