.animation--values {
	position: relative;

	& > svg {
		height: auto;
		width: 100%;
		margin: 30px 0;
	}
}

.animation__value-animation-container {
	position: relative;
}

.animation__value-01 {

    &-pop-up-item--scale {
		transform: scale(0);
		transform-origin: center;
    }

    &-pop-up--play-animation {
			animation: pop-up 0.8s 1 forwards;
		}
}

.animation__value-02 {

	&-cms-text {
		z-index: 1;
		top: 42%;
		left: 39%;

		& > svg {
			margin: 0;
		}
	}

	&-window {
		transform-origin: center;
		transform: scale(1);

		&--play-animation {
			transform: scale(0);
			transition: transform 0.6s 1.8s;
		}
	}

	&-website {
		opacity: 0;

		&--play-animation {
			opacity: 1;
			transition: opacity 0.5s 0.5s;
		}
	}

	&-hearts {
		transform: scale(0);
		transform-origin: center;
		
		&--play-animation {
			animation: pop-up 0.7s 1 forwards;
		}
	}

	&-cms-btn {
		z-index: 1;
		top: 57%;
		right: 39%;
		transform-origin: center center;
		
		& > svg {
			width: 36px;
			height: auto;
		}

		@include breakpoint(tabletPortrait) {
			top: 60%;
			right: 39%;

			& > svg {
				width: 50px;
				height: auto;
			}
		}

		@include breakpoint(desktop) {
			top: 60%;
			right: 38%;

			& > svg {
				width: 40px;
				height: auto;
			}
		}

		@include breakpoint(desktopWide) {
			top: 60%;
			right: 39%;

			& > svg {
				width: 50px;
				height: auto;
			}
		}

		&--play-animation {
			animation: pop-in 0.8s 0.5s 1 forwards;
		}
	}
}

.animation__value-03 { 
	
	&-browsers {
		transform: scale(0);
		transform-origin: center;
		
		&--play-animation {
			animation: pop-up 0.8s 1 forwards;
		}
	}

	&-browser-text {
		opacity: 0;

		&--play-animation {
			opacity: 1;
			transition: opacity 0.5s;
		}
	}

	&-main-browser {
		transform: scale(0);
		transform-origin: center;

		&--play-animation {
			animation: pop-up 0.8s 1s 1 forwards;
		}
	}

	&-website {
		opacity: 0;

		&--play-animation {
			opacity: 1;
			transition: opacity 0.5s;
		}
	}

	&-main-bolt {
		opacity: 0;
		
		&--play-animation {
			animation: appear 0.5s 1;
		}
	}

	&-bolts {
		opacity: 0;
		
		&--play-animation {
			animation: pulse 2s 3;
		}
	}

}

@keyframes pop-up {
	0% {
		transform: scale(0);
	} 
	80% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes pop-in {
	0% {
		transform: scale(1);
	} 
	80% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	} 
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes appear {
	to {
		opacity: 1;
	}
}
