.animation {
	position: absolute;
	overflow: hidden;

	&--hide {
		display: none !important;
	}

	&--show {
		display: block !important;
	}
}

@import "animations/_backdrop";
@import "animations/_bird";
@import "animations/_bubbles";
@import "animations/_fire";
@import "animations/_fish";
@import "animations/_tentacles";
@import "animations/_tree";
@import "animations/_values";