.btn {
	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		font-weight: 600;
		margin: 0;
		width: 65px;
		text-align: center;
		color: white;
		background: rgba($color-primary, .6);
		padding: 5px;
		border-radius: 15px;
		z-index: 2;
	
		&:hover {
			transform: translate(-50%, -50%) scale(1.2);
		}
	}
	
	&__link-icons {
		font-size: 1.3rem;
		
		& > a:first-child {
			margin-right: 10px;
		}
	}
}
