.content {
	width: 100vw;

	&--hide {
		display: none !important;
	}

	&--show {
		display: block !important;
	}

	&--invert {
		filter: invert(100%);
	}

	&__grid-container {
		display: grid;
		overflow: hidden;
		height: 100%;
		width: 100vw;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(21, 1fr);

		@include breakpoint(desktop) {
			height: 100vh;
			grid-template-columns: repeat(24, 1fr);
			grid-template-rows: repeat(14, 1fr);
		}

		&--full-height {
			height: 100vh;

			@include breakpoint(tabletPortrait) {
				@media (orientation: landscape) {
					height: 100%;
					width: 100%;
					
				}
			}

			@include breakpoint(desktop) {
	
				@media (orientation: landscape) {
					height: 100vh;
					width: 100vw;
				}
	
				@media (max-height: 1079px) { 
					height: 100%;
					width: 100%; 
				}
			}
		}
	}

	&__bgcolor{
		&--pink{
			background-color: $color-background-pink;
		}
	}

	&__bodytext {
		margin: 0 0;
		grid-column: 2 / 12;
		grid-row: 13 / 21;
		z-index: 2;
		padding-top: 20px;

		@include breakpoint(tabletPortrait) {
			grid-column: 2 / 9;
			grid-row: 14 / 21;
			padding-top: 0;
		}

		@include breakpoint(desktop) {
			align-self: center;
			grid-column: 3 / 9;
			grid-row: 4 / 13;
		}
		
		& > h1 {

			@include breakpoint(desktop) {
				margin-top: 0;
				padding-bottom: 100px;
			}
		}

		& > svg {
			height: auto;
			width: 100%;
			margin: 30px 0;
		}

		& .pop-up-item--scale {
			transform: scale(0);
		}

		.pop-up--play-animation {
			animation: pop-up 1s 1 forwards;
			transform-origin: center;
		}

		&--switch-position {
			@include breakpoint(desktop) {
				grid-column: 17 / 23;
			}
		}
	}

	&__bodytext--h1 {
		grid-column: 2 / 12;
		grid-row: 2 / 3;
		padding-top: 0;

		@include breakpoint(tabletPortrait) {
			grid-column: 2 / 9;
			grid-row: 2 / 8;
		}

		@include breakpoint(desktop) {
			align-self: start;
			grid-column: 3 / 9;
			grid-row: 4 / 5;
		}
	}

	&__bodytext--1 {
		grid-column: 2 / 12;
		grid-row: 3 / 8;
		padding-top: 0;

		@include breakpoint(tabletPortrait) {
			grid-column: 2 / 9;
			grid-row: 3 / 8;
		}

		@include breakpoint(desktop) {
			align-self: start;
			grid-column: 3 / 9;
			grid-row: 5 / 14;
		}
	}
	
	&__bodytext--2 {
		grid-column: 2 / 12;
		grid-row: 9 / 14;
		padding-top: 0;

		@include breakpoint(tabletPortrait) {
			grid-column: 2 / 9;
			grid-row: 9 / 14;
		}

		@include breakpoint(desktop) {
			align-self: start;
			grid-column: 10 / 16;
			grid-row: 5 / 14;
		}
	}

	&__bodytext--3 {
		grid-column: 2 / 12;
		grid-row: 15 / 23;
		padding-top: 0;

		@include breakpoint(tabletPortrait) {
			grid-column: 2 / 9;
			grid-row: 15 / 23;
		}

		@include breakpoint(desktop) {
			align-self: start;
			grid-column: 17 / 23;
			grid-row: 5 / 14;
		}
	}

	&__link-icons {
		font-size: 1.3rem;
		
		& > a:first-child {
			margin-right: 10px;
		}
	}

	&__svg-container {
		position: relative;
		align-self: center;
		z-index: 2;

		grid-column: 1 / 13;
		grid-row: 3 / 13;

		@include breakpoint(tabletPortrait) {
			grid-column: 2 / 12;
			grid-row: 2 / 14;
		}

		@include breakpoint(desktop) {
			grid-column: 11 / 24;
			grid-row: 1 / 15;
			max-width: 1120px;
		}

		&--switch-position {
			@include breakpoint(desktop) {
				grid-column: 2 / 14;
			}
		}
	}

	&__img-container {
		position: relative;
		z-index: 2;
		overflow: hidden;

		grid-column: 2 / 12;
		grid-row: 5 / 12;

		@include breakpoint(tabletPortrait) {
			grid-column: 2 / 12;
			grid-row: 3 / 14;
			align-self: center;
		}

		@include breakpoint(desktop) {
			grid-column: 11 / 23;
			grid-row: 1 / 15;
			max-width: 1120px;
		}

		&--switch-position {
			@include breakpoint(desktop) {
				grid-column: 3 / 15;
			}
		}
	}

	&__img {
		object-fit: cover;
		width: 100%;
		height: 100%;

		@include breakpoint(tabletPortrait) {
			object-fit: contain;
			height: auto;
		}
	}
	
	&__img--left {
		object-position: left;
	}
	
	&__img--right {
		object-position: right;
	}
	
	&__img--center {
		object-position: center;
	}

	&__svg {

		& > svg {

			width: 100%;
			height: 100%;

		}

		& #night {
			display: none;
		}

		& #stars-01 > circle {
			animation: star-01 2s infinite ease;
		}

		& #stars-02 > circle {
			animation: star-02 3s infinite ease;
		}

		& #stars-03 > circle {
			animation: star-03 3.5s infinite ease;
		}

		& .tree-shade--white {
			fill: #fff;
		}

		& .tree--blue {
			fill: #dde2ff;
		}

	}

	&__animation-container {
		position: absolute;
		overflow: hidden;
	}

	&__animation-container--fire {
		bottom: 0%;
		left: 50%;
		transform: translateX(-50%) scale(0.35);
		max-width: 87px;
		width: 87px;
		z-index: 1;

		@include breakpoint(tabletPortrait) {
			transform: translateX(-50%) scale(0.55);
			bottom: 8%;
		}

		@include breakpoint(desktop) {
			transform: translateX(-50%) scale(0.75);
			bottom: 12%;
		}

		@include breakpoint(atWide) {
			transform: translateX(-50%) scale(1);
		}

		& #fire-group {
			animation: fire 0.8s steps(3) infinite;
		}

		& .fire-group--hidden {
			opacity: 0;
		}

		& .smoke-group--play-animation {
			opacity: 1;
			animation: smoke 1.4s steps(10) 1;
		}

		& > svg {

			width: 870px; 
			height: 168px;
			
		}
	}

	&__animation-container--bubbles {
		bottom: 30%;
		left: 45%;
		transform: translateX(-50%) scale(0.6);
		max-width: 9px;
		width: 9px;
		z-index: 1;

		@include breakpoint(tabletPortrait) {
			transform: translateX(-50%) scale(1);
			bottom: 31%;
		}

		@include breakpoint(desktop) {
			transform: translateX(-50%) scale(1.6);
			bottom: 33%;
		}

		& #bubbles-group {
			animation: bubbles 1.2s steps(6) infinite;
		}

		& > svg {
			width: 54px; 
			height: 25px;
		}
	}

	&__animation-container--fish {
		bottom: 32%;
		left: 47%;
		transform: translateX(-50%) scale(0.6);
		max-width: 48px;
		width: 48px;
		overflow: hidden;

		@include breakpoint(tabletPortrait) {
			transform: translateX(-50%) scale(1);
			bottom: 33%;
		}

		@include breakpoint(desktop) {
			transform: translateX(-50%) scale(1.3);
			bottom: 35%;
		}

		& .fish-group--play-animation {
			animation: fish 1.2s steps(10) 1;
		}

		& > svg {
			width: 480px; 
			height: 21px;
		}
	}

	&__animation-container--tentacles {
		bottom: 15%;
		left: 50%;
		transform: translateX(-50%) scale(0.45);
		max-width: 250px;
		width: 250px;
		display: none;
		overflow: hidden;
		filter: invert(100%);

		@include breakpoint(tabletPortrait) {
			transform: translateX(-50%) scale(0.7);
			bottom: 27%;
		}

		@include breakpoint(desktop) {
			transform: translateX(-50%) scale(1);
			bottom: 35%;
		}

		& .tentacles-group--play-animation {
			animation: tentacle 2.5s steps(16) infinite;
		}

		& > svg {
			width: 4000px; 
			height: 250px;
		}
	}

	&__animation-bird-tree {
		animation: tree 1.5s infinite;
	}

	& #tree-needles {
		display: none;
	}

	&__animation-container--bird {
		bottom: 20%;
		left: 30%;
		transform: translateX(-50%) scale(0.4) rotate(-15deg);
		max-width: 50px;
		width: 50px;
		overflow: hidden;
		display: none;

		@include breakpoint(tabletPortrait) {
			transform: translateX(-50%) scale(0.6) rotate(-15deg);
			bottom: 25%;
		}

		@include breakpoint(desktop) {
			transform: translateX(-50%) scale(0.8) rotate(-15deg);
			bottom: 25%;
		}

		& #bird-group {
			animation: flyBird 0.3s steps(2) infinite;
		}

		& > svg {
			width: 100px; 
			height: 56px;
		}
	}

	&__animation-container--bird-animate {
		animation: moveBird 2.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1;
	}
}

@keyframes pop-up {
	0% {
		transform: scale(0);
	} 
	80% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes star-01 {
	50% {
		fill: rgba($color-body-text, .3);
	}
}

@keyframes star-02 {
	60% {
		fill: rgba($color-body-text, .3);
	}
}

@keyframes star-03 {
	70% {
		fill: rgba($color-body-text, .3);
	}
}

@keyframes fire {
	to {
		transform: translateX(-261px);
	}
}

@keyframes bubbles {
	to {
		transform: translateX(-54px);
	}
}

@keyframes fish {
	to {
		transform: translateX(-480px);
	}
}

@keyframes tentacle {
	to {
		transform: translateX(-4000px);
	}
}

@keyframes smoke {
	to {
		transform: translateX(-870px);
	}
}

@keyframes flyBird {
	to {
		transform: translateX(-100px);
	}
}

@keyframes moveBird {
	to {
		left: 110%;
		bottom: 80%;
	}
}

@keyframes tree{
	0% {
		transform: translateX(0);
	}
	39% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(-4px);
	}
	50% {
		transform: translateX(4px);
	}
	55% {
		transform: translateX(-4px);
	}
	60% {
		transform: translateX(4px);
	}
	61% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(0);
	}
}
