.footer {
    background-color: $color-body-text;
    color: $color-background;
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(auto);
    width: 100vw;
    overflow: hidden;
    padding: 20px 0;
    
    @include breakpoint(tabletPortrait) {
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: repeat(auto);
    }
    
    &__address--email {
        grid-column-start: 3;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 2;
		z-index: 2;
		align-self: center;
    }

    &__address--number {
		grid-column-start: 7;
		grid-column-end: 11;
        align-self: center;
    }
    
    &__copyright {
		grid-column-start: 12;
		grid-column-end: 23;
        align-self: center;
    }
}
