footer {
    font-size: 0.875rem;
    font-weight: 600;
    
    @include breakpoint(tabletLandscape) {
        padding: 15px 0;
        background: $color-tertiary;
        color: #fff;
    }

    .footer__lang {
        display: none;
        
        @include breakpoint(tabletLandscape) {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            flex-wrap: wrap;
            margin: 0;
            padding-left: 0;
        }
    }

    .footer__lang-item:first-child {
        margin-right: 50px;
        margin-left: auto;
    }
    
    .footer__lang-item:last-child {
        margin-right: auto;
    }

    .footer__lang-item {
        margin-right: 15px;

        @include breakpoint(tabletLandscape) {
            margin-right: 20px;
        }
    }
}
