.footer {
    background-color: $color-body-text;
    color: $color-background;
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(auto);
    width: 100vw;
    overflow: hidden;
    padding: 20px 0;
    transform: translateY(-5px);
    
    @include breakpoint(tabletPortrait) {
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: repeat(auto);
    }

    & p {
        font-size: 1rem;
        margin: 0;
    }
    
    &__address--email {
        grid-column-start: 2;
		grid-column-end: 11;
		z-index: 2;
        align-self: center;
        
        @include breakpoint(tabletPortrait) {
			grid-column-start: 3;
			grid-column-end: 12;
		}

		@include breakpoint(desktop) {
			grid-column-start: 3;
			grid-column-end: 7;
		}
    }

    &__address--number {
		grid-column-start: 2;
		grid-column-end: 11;
        align-self: top;

        @include breakpoint(tabletPortrait) {
			grid-column-start: 3;
            grid-column-end: 24;
		}

		@include breakpoint(desktop) {
			grid-column-start: 7;
            grid-column-end: 10;
            align-self: center;
        }
        
        & p {
            margin-top: 5px;
        }
    }
    
    &__copyright {
		grid-column-start: 2;
		grid-column-end: 11;
        align-self: top;
        margin-top: 20px;

        @include breakpoint(tabletPortrait) {
			grid-column-start: 3;
            grid-column-end: 11;
		}

		@include breakpoint(desktop) {
			grid-column-start: 10;
            grid-column-end: 21;
            align-self: center;
            margin-top: 0;
		}
    }
}
