.glide, .glide__slides, .glide__track {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
}

.glide__slide {
    perspective: 2000;
    backface-visibility: hidden;
}
