.site-header {
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	z-index: 100;
	position: fixed;
	background-color: transparent;
	padding: 20px 8.33% 0;
	width: 100vw;

	@include breakpoint(tabletPortrait) {
		padding: 55px 8.33% 0;
		justify-content: flex-start;
		flex-direction: row;
	}

	@include breakpoint(desktop) {
		justify-content: space-between;
	}

	&__logo {
		z-index: 2;
		align-self: center;

		@include breakpoint(tabletPortrait) {
			margin-top: 0;
		}

		@include breakpoint(desktop) {
			margin-top: 0;
		}
	}

	&__logo-flex-container {
		display: flex;
		align-items: center;
		font-size: 0;
	}

	&__icon {
		display: block;
		margin-right: 30px;
		
		@include breakpoint(tabletPortrait) {
			margin-right: 20px;
		}

		& svg {
			height: auto;
			max-height: 45px;
		}
	}

	&__logo-text {
		display: none;

		@include breakpoint(tabletPortrait) {
			display: block;
		}

		& svg {
			height: auto;
			max-height: 30px;
		}
	}

	&__menu-content {
		align-self: center;
		width: 100%;

		@include breakpoint(tabletPortrait) {
			margin-top: 0;
			margin-right: 80px;
			width: auto;
		}

		@include breakpoint(desktop) {
			margin: 0;
		}

		&--hidden {
			opacity: 0;
			display: none;
			
			@include breakpoint(desktop) {
				width: 300px;
				display: block;
			}
		}
	}
}
