.site-header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;
	z-index: 100;
	position: fixed;
	background-color: transparent;
	padding: 20px;

	@include breakpoint(atSmall) {
		display: grid;
		height: 160px;
		width: 100vw;
		text-align: left;
		align-items: center;
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: repeat(auto);
		padding: 0;
	}

	&__logo {
		display: none;
		z-index: 2;
		cursor: pointer;
		margin-top: 20px;

		@include breakpoint(atSmall) {
			grid-column-start: 16;
			grid-column-end: 21;
			margin-top: 0;
			display: inline;
		}

		@include breakpoint(atMedium) {
			grid-column-start: 12;
			grid-column-end: 14;
			margin-top: 0;
			display: inline;
		}

		svg {

			.cls-1 {
				fill: #312c22;
			}
		
			.cls-2 {
				fill: #bda7b4;
			}
		
			.cls-3 {
				fill: #fdd6b4;
			}
		}
	  
	}

	&__icon {
		z-index: 2;
		cursor: pointer;
		width: 43px;
		margin-right: 20px;

		@include breakpoint(atSmall) {
			display: none;
		}

		svg {

			.cls-1 {
				fill: #bda7b4;
			}
		
			.cls-2 {
				fill: #312c22;
			}
		
			.cls-3 {
				fill: #fdd6b4;
			}
		}
	}

	&__menu-content {

		@include breakpoint(atSmall) {
			grid-column-start: 3;
			grid-column-end: 12;
			margin-top: 0;
		}

		@include breakpoint(atMedium) {
			grid-column-start: 3;
			grid-column-end: 7;
			margin-top: 0;
		}
	}
}
