.site-header {
	z-index: 100;
	width: 100%;
	position: fixed;
	height: 40px;
	transition: height 0.3s, background-color 0.7s, border-bottom 0.7s;
	background-color: #88d8b0;

	&--is-expanded {
		background-color: #88d8b0;
		border-bottom: 1px solid #FFF;
		padding: 0;
		height: 100vh;
	}

		&--dark {
			background-color: $color-tertiary;
			border-bottom: 1px solid #FFF;
			padding: 0;
		}

	&__logo {
		position: absolute;
		width: 18px;
		height: 100%;
		padding-top: 5px;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		transition: opacity 0.3s;

		img {
			height: 28px;
			width: auto;

			@mixin atLarge {
				height: 82%;
			}
		}

		.site-header--dark & {
			opacity: 1;
		}

		@mixin atLarge {
			width: 23px;
		}
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: all .3s ease-out;
			transform-origin: 0 50%;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}

		@mixin atLarge {
			display: none;
		}
	}

	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__menu-content {
		opacity: 0;
		top: -600px;
		transform: scale(1.2);
		transition: opacity 1s, transform .2s, top .5s ease-out;
		position: relative;
		z-index: -10;
		padding: 30px 0;
		text-align: center;

		@mixin atLarge {
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			top: 0;
			transform: scale(1);
		}

		&--is-visable {
			opacity: 1;
			top: 0;
			z-index: 1;
			transform: scale(1);
		}
	}

	&__lang {
		margin-top: 30px !important;

		& a {
			color: $color-primary !important;
		}

		@mixin atMedium {
			display: none;
		}
	}
}
