.site-header {
	display: grid;
	z-index: 100;
	position: fixed;
	background-color: transparent;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(auto);
	padding: 20px 0 0;
	width: 100vw;

	@include breakpoint(tabletPortrait) {
		padding: 55px 0 0;
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: repeat(auto);
	}

	&__logo {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		z-index: 2;
		align-self: center;

		@include breakpoint(tabletPortrait) {
			grid-column-start: 15;
			grid-column-end: 19;
			margin-top: 0;
		}

		@include breakpoint(desktop) {
			grid-column-start: 12;
			grid-column-end: 14;
			margin-top: 0;
		}
	}

	&__logo-flex-container {
		display: flex;
		align-items: center;
		font-size: 0;
	}

	&__icon {
		display: block;
		
		@include breakpoint(tabletPortrait) {
			margin-right: 20px;
		}

		& svg {
			width: 100%;
			height: auto;
			max-height: 45px;
		}
	}

	&__logo-text {
		display: none;

		@include breakpoint(tabletPortrait) {
			display: block;
		}

		& svg {
			width: 100%;
			height: auto;
			max-height: 45px;
		}
	}

	&__menu-content {
		grid-column-start: 4;
		grid-column-end: 12;
		align-self: center;

		@include breakpoint(tabletPortrait) {
			grid-column-start: 3;
			grid-column-end: 13;
			margin-top: 0;
		}

		@include breakpoint(desktop) {
			grid-column-start: 3;
			grid-column-end: 7;
			margin-top: 0;
		}
	}
}
