<!-- Footer -->
<footer class="footer">
    <div class="footer__address--email">
        Email: <a href="mailto:bosse@happykemper.com">bosse@happykemper.com</a><br />
    </div>
    <div class="footer__address--number">
        Tel: 000000
    </div>
    <div class="footer__copyright">Copyright <small>&copy;</small> {{ site.title }} <small>2019</small></div>
</footer>