<!-- Footer -->
<footer>
    <div class="footer content">
    	<div class="wrapper wrapper--no-padding-top-bottom footer--font">

			<ul class="footer__lang">
				<li class="footer__lang-item">Copyright &copy; {{ site.title }} 2018</li>
				<li class="footer__lang-item"><a href="/">Nederlands</a></li>
				<li class="footer__lang-item"><a href="/en">English</a></li>
			</ul>
	    </div>
    </div>
</footer>