<!-- Footer -->
<footer class="footer">
    <div class="footer__address--email">
        <p>Email: <a href="mailto:bosse@happykemper.com">bosse@happykemper.com</a><br /></p>
    </div>
    <div class="footer__address--number">
        <p>Tel: 000000</p>
    </div>
    {# <div class="footer__copyright">
        <p><small>Copyright &copy; {{ site.title }} 2019</small></p>
    </div> #}
</footer>