<!-- {{ page.header.title }} Section -->
<div class="content">
    <div class="slick-carousel">
        {% for img in page.media.images %}
            <img srcset="{{ img.url }}" />
        {% endfor %}
    </div>
</div>
