<section class={% if page.header.fullHeight %}"content content--full-height"{% else %}"content"{% endif %}>
    <div class={% if page.header.switchPosition %}"content__container content__container--switch-position"{% else %}"content__container"{% endif %}>
        <div class="content__bodytext">
            {{ page.content }}
        </div>
        <div class="content__animation-container">
            {% for svg in page.media.files %}
                {% if page.header.image == svg.filename %}
                    <div class="animation__backdrop">
                        {{ getfilecontents(svg.filepath) }}
                    </div>
                {% else %}
                    {% set file = svg.filename|slice(0, (svg.filename|length - 4)) %}
                    <div class="animation animation__{{ file }}">
                        {{ getfilecontents(svg.filepath) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
