<section class="content">
    <div class="content__bodytext content__bodytext--h1">
                {{ page.content }}
    </div>
    <div class={% if page.header.top %}"content__container content__container--top"{% else %}"content__container"{% endif %}>
        {% for module in page.collection() %}
            {% if loop.index == 1 %}
            <div class="content__bodytext content__bodytext--1">
                {{ module.content }}
            </div>
            {% elseif loop.index == 2 %}
            <div class="content__bodytext content__bodytext--2">
                {{ module.content }}
            </div>
            {% elseif loop.index == 3 %}
            <div class="content__bodytext content__bodytext--3">
                {{ module.content }}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
