body {
    font-family: "Quicksand","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    margin: 0;
    background-color: $color-background;
    color: $color-body-text;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
    margin: 0;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 75px 0 0;
    text-transform: uppercase;
    font-family: "Dekko", "Times New Roman", Times, Georgia, serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: $color-primary;
}

p {
    font-size: 1.125rem;
    line-height: 1.42857143;

    @include breakpoint(atSmall) {
        font-size: 1.1875em;
        line-height: 1.42857143;
    }
}

img {
	max-width: 100%;
	height: auto;
    width: auto;
}

* {
	box-sizing: border-box;
    // -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	// -o-font-smoothing: antialiased;
	// text-shadow: 0 0 0;
}

a {
	color: $color-primary;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:hover {
        color: $color-primary-hover;
    }
}

ol > li, ul > li {
    padding-right: 30px;
}
