body {
    font-family: "Quicksand Regular", "Trebuchet MS", sans-serif;
    text-align: left;
    margin: 0;
    background-color: $color-background;
    color: $color-body-text;
    overflow-x: hidden;
}

h1 {
    @include responsive-font-size(3.25rem);
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand Medium", "Trebuchet MS", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: $color-primary;
}

p { 
    @include responsive-font-size(1.5rem);
    line-height: 1.2;
}

img {
	max-width: 100%;
	height: auto;
    width: auto;
}

* {
	box-sizing: border-box;
    // -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	// -o-font-smoothing: antialiased;
	// text-shadow: 0 0 0;
}

a { 
    font-family: "Quicksand Medium", "Trebuchet MS", sans-serif;
    font-weight: 500;
	color: $color-primary;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:hover {
        color: $color-primary-hover;
    }
}

ol > li, ul > li {
    padding-right: 30px;
}
