body {
    font-family: "Quicksand Regular", "Trebuchet MS", sans-serif;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    background-color: $color-background;
    color: $color-body-text;
    overflow-x: hidden;
}

h1 {
    @include responsive-font-size(3.25rem);
    margin: 0.67em 0;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

h2 {
    @include responsive-font-size(1.5rem);
    letter-spacing: -0.01rem;
}

h3 {
    @include responsive-font-size(1.25rem);
}

h4 {
    @include responsive-font-size(1.125rem);
}

h5 {
    @include responsive-font-size(0.75rem);
}

h6 {
    @include responsive-font-size(0.625rem);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand Medium", "Trebuchet MS", sans-serif;
    font-weight: 500;
    color: $color-primary;
}

p { 
    @include responsive-font-size(1.5rem);
}

img {
	max-width: 100%;
	height: auto;
    width: auto;
}

* {
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
	// text-shadow: 0 0 0;
}

a { 
    font-family: "Quicksand Medium", "Trebuchet MS", sans-serif;
    font-weight: 500;
	color: $color-primary;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:hover {
        color: $color-primary-hover;
    }
}

ol > li, ul > li {
    padding-right: 30px;
}

abbr[title]:after {
    content: " (" attr(title) ")";

    @include breakpoint(desktop) { 
        content: "";
   }
}

abbr[title] {
    cursor:help;
    text-decoration: none;

    @include breakpoint(desktop) { 
        text-decoration: underline dotted;
   }
}

section {
    border-bottom: 5px dotted $color-background;
}

section:last-of-type {
    border-bottom: none;
}
