$color-primary: rgb(190,162,175);
$color-primary-hover: rgba(190,162,175,.8);
$color-secondary: rgb(173,173,173);
$color-tertiary: rgb(28,28,28);
$color-background: rgb(255,217,187);
$color-body-text: rgb(49,44,33);

// Glide options
$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;

// RFS options
$rfs-minimum-font-size: 0.3rem !default;
$rfs-factor: 5 !default;

// FontAwesome
$fa-font-path: "../../fonts/fontawesome/webfonts";
