<!-- {{ page.header.title }} Section -->
<section class="page-section" data-matching-link="#{{ page.header.section_title }}-link">
	<div class="large-hero">
	  {{ page.media['header_background.jpg'].sizes('100vw').html('background image', 'nature image', 'large-hero__image') }}
	  <div class="large-hero__text-content">
	    <div>
	      {{ page.media['walkin-fish.svg'].html('Restaurant the Walkin Fish Logo', 'Restaurant the Walkin Fish Logo', 'large-hero__logo') }}
	      <a href="#events" class="btn btn--circle">
	          <i class="fa fa-angle-double-down"></i>
	      </a>
	    </div>
	  </div>
	</div>
</section>