<!-- {{ page.header.title }} Section -->
<section id="{{ page.header.section_title }}" class="landing content section">
    {{ page.media.files['logo.svg'].html('Happy Kemper', 'Happy Kemper logo', 'landing__logo') }}
    <span class="landing__scroll-text">{{ page.header.text }}</span>
</section>