<!-- {{ page.header.title }} Section -->
<section id="{{ page.header.section_title }}" class="landing content section">
    {{ getfilecontents(page.media.files['logo.svg'].filepath) }}
    <span class="landing__scroll-text">{{ page.header.text }}</span>
</section>