<!-- {{ page.header.title }} Section -->
<div class="modal">
	<div class="modal__inner">
		<div id="resengo-booknow"></div>
	</div>
	<div class="modal__close"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>