<!-- {{ page.header.title }} Section -->
<section>
	<div class="parallax">
	    <div class="parallax__container">
	        <img class="parallax__image" src="{{ page.media['parallax.jpg'].url }}">
	    </div>
    </div>
</section>