<!-- {{ page.header.title }} Section -->
<section id="{{ page.header.section_title }}" class="page-section" data-matching-link="#{{ page.header.section_title }}-link">
    <div class="content">
    	<div class="wrapper">
	        {{ page.content }}
	    </div>
    </div>
</section>